@import "../utils/variables";


.client{
  &__container{
    width: 170px;
  height: 81px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 14px 32px;
  fill: #afb1b8;
  }
  &__style {
    font-family: $font-gral;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 100px;
  color: #212121;
  }
  &__logo {
    height: 52px;
  width: 106px;
  }
  &__list {
    justify-content: space-between;
    display: flex;
    height: 200px;
    gap: 30px;
    }
    &__container:hover {
      border-color: #2196f3;
      fill: #2196f3;
      }
   }
