@import "../utils/variables";

  .header {
    margin:  0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: $white-color;

  &__container {
    display: flex;
  align-items: center;
  }
  &__container-logo {
    font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: $underline-color;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Raleway', 'sans-serif';
  }
  &__nav {
    display: flex;
  gap: 70px;
  margin-left: 90px;

  }

  &__contact {
    font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-right: 50px;
  color: $submenu-color;
  }
  &__icon {
    width: 16px;
  height: 16px;
  fill: $submenu-color;
  }
  &__nav-link {
  color: #212121;
  }
  &__nav-link,
  &__nav-link:hover,
  &__nav-link:focus,
  &__nav-link:active {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  cursor: pointer;
}
&__nav-link:hover {
  color: $underline-color;
  }
  &__contact:hover {
    color: $underline-color;
    }

    &__icon:hover {
    fill: $underline-color;
    }
    &__contact:hover .header__icon {
    fill: $underline-color;
    }
    .subrayado{
      text-decoration: none;
      position: relative;
      }
      .subrayado::after{
      position: absolute;
      content: '';
      height: 4px;
      width: 52px;
      bottom: -20px;
      margin: 0 auto;
      left: 0;
      right: 0;
      background: $underline-color;
      border-radius: 2px;
      }
}
